<section class="content-header">
  <h1>
    Add Batch
    <small>batch entry</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box box-solid">
        <div class="box-body">
          <!-- Date dd/mm/yyyy -->
          <div class="form-group">
            <label>Date masks:</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="year">
            </div><!-- /.input group -->
          </div><!-- /.form group -->
          <div class="form-group">
            <label>Course</label>
            <select class="form-control" ng-model="course">
              <option>btech</option>
              <option>mtech</option>
              <option>mca</option>
            </select>
          </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <button class="btn btn-primary" ng-click="createBatch()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
