<section class="content-header">
  <h1>
    Add Bill
    <small>add new month</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-body">
          <form role="form">
            <div class="box-body">
              <div class="form-group" style="width:50%;">
                <label>Select Date<label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <!--<input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="date">-->
                      <input class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" type="text">
                    </div><!-- /.input group -->
                  </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <button class="btn btn-primary" ng-click="submit()">Submit</button>
                </div>
              </form>
            </div><!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
