<section class="content-header">
  <h1>
    batch list
    <small>add or remove batch</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header">
          <div class="pull-right" style="padding:10px">
            <button class="btn btn-default" ng-click="go('/batchsettings')">Archive</button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-hover table-bordered">
            <tbody><tr>
                <th>#</th>
                <th>batch</th>
                <th>course</th>
              </tr>
              <tr ng-repeat="batch in batches" ng-click="go('batchdetail/{{ batch._id }}')">
                <td>{{ $index+1 }}</td>
                <td>{{ batch.year }}</td>
                <td>{{ batch.course }}</td>
              </tr>
          </tbody></table>
        </div><!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
