<section class="content-header">
  <h1>
    Bill
    <small></small>
  </h1>
</section>

<section class="content invoice">
  <!-- title row -->
  <div class="">
    <div class="col-xs-12">
      <h3 class="page-header" align="center">
        Government Engineering College, Thrissur
      </h3>
    </div>
  </div>

  <div class="invoice-info" align="center">
    <div class="col-xs-6">
      <table>
        <tbody>
          <tr>
            <th style="width:70%">Name:</th>
            <td>Kiran P S</td>
          </tr>
          <tr>
            <th>Admno</th>
            <td>33/2014</td>
          </tr>
          <tr>
            <th>Room:</th>
            <td>A5</td>
          </tr>
          <tr>
            <th>Reciept no:</th>
            <td>25/2015</td>
          </tr>
          <tr>
            <th>Month:</th>
            <td>2/2015</td>
          </tr>
          <tr>
            <th>Mess</th>
            <td>A</td>
          </tr>
          <tr>
            <th>Hostel:</th>
            <td>MH</td>
          </tr>
      </tbody></table>
    </div>

    <div class="col-xs-6">
      <table>
        <tbody>
          <tr>
            <th style="width:80%">Mess:</th>
            <td>2813</td>
          </tr>
          <tr>
            <th>Rent</th>
            <td>100</td>
          </tr>
          <tr>
            <th>Electricity</th>
            <td>75</td>
          </tr>
          <tr>
            <th>Water</th>
            <td>25</td>
          </tr>
          <tr>
            <th>Misc</th>
            <td>18</td>
          </tr>
          <tr>
            <th>Fine</th>
            <td>40</td>
          </tr>
          <tr>
            <th>Total</th>
            <td>40</td>
          </tr>
      </tbody></table>
    </div>
  </div>

  <div class="no-print" align="center">
    <div class="col-xs-6" style="padding-left:124px;">
      <br>
      <br>
      <button class="btn btn-default pull-left" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
    </div>
    <div class="col-xs-6">
      <br>
      <br>
      <button class="btn btn-success"><i class="fa fa-credit-card"></i> Submit Payment</button>
    </div>
  </div>

</section>
